// Name: index.jade
// Description: Home page
// Author: Elisabet González | eli.jvn@gmail.com
// Creation date: October 25th, 2016
// Version: 1.0.0
// History:
// v1.0.0 10/25/2016 File created

extends ./layout.jade
block content
  form
    div(id='container')
      label(for='id') ID:
      br
      input(type='text', name='id', id='id', placeholder='Your ID', readonly)
      br
      label(for='username') Username:
      br
      input(type='text', name='username', id='username', placeholder='Username')
      br
      input(type='button', id='connect', value='Connect')
      br
      div(id='chat')
        label(for='message') Message:
        br
        input(type='text', name='message', id='message', placeholder='Write a message...')
        br
        input(type='button', id='send', value='Send')
      audio(id='audio', controls, autoplay)
      script(type='text/javascript', src='./js/gum.js')
