// Name: layout.jade
// Description: Main layout
// Author: Elisabet González | eli.jvn@gmail.com
// Creation date: October 25th, 2016
// Version: 1.0.0
// History:
// v1.0.0 10/25/2016 File created

doctype html
html(lang='en')
  head
    title M-Lab Chat
    meta(charset='utf-8')
    link(href='./css/main.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Dosis', rel='stylesheet')
    //link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css', rel='stylesheet')
  body
    h1 M-Lab Chat v2.0
    block content
